.bot {
    z-index: 6;
    position: fixed;
    right: 75px;
    bottom: 85px
}

.botTitle {
    position: relative;
    padding: 10px 1.5em;
    border: 1px solid #ffa07a;
    background-color: #a9a9a9;
    cursor: pointer;
    color: #000;
    font-weight: bolder
}

.sc-new-messsages-count {
    z-index: 7
}

.sc-closed-icon,.sc-launcher {
    padding: 0!important;
    bottom: 70px!important
}

.sc-closed-icon {
    -webkit-transform: rotate(1turn)!important;
    transform: rotate(1turn)!important
}

.sc-open-icon {
    padding: 0!important;
    bottom: 70px!important
}

.read {
    font-size: x-small;
    color: #000;
    padding: 0 0 0 1em
}

.avatar {
    border-radius: 50%
}
